.article {
    composes: animation from global;
    display: flex;
    flex-wrap: wrap;
    max-width: 50rem;
    margin: 3rem auto;
    border-bottom: 1px solid var(--semi-color);
    border-radius: var(--radius-dash);
    transition: box-shadow 0.4s;
}

.article:hover {
    box-shadow: var(--shadow);
}

.figcaption {
    display: flex;
    justify-content: center;
    width: 40%;
    background-image: var(--gradient);
    border-radius: var(--radius-dash);
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    padding: 1rem;
    border-radius: var(--radius-small);
    font-weight: 400;
    font-size: 0.9rem;
}

.description h3 {
    font-weight: 600;
}

.price {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--semi-color);
    padding-top: 0.5rem;
    margin-top: 1rem;
    color: var(--box-color);
}

.icon {
    width: 1.25rem;
}

@media screen and (max-width: 750px) {

    .figcaption {
        width: 100%;
    }

    .description {
        width: 100%;
    }

    .description div {
        display: none;
    }

    .image {
        width: 200px;
        height: 200px;
    }
}