.input {
  display: block;
  width: 30rem;
  margin: 0.75rem 0;
}

.textarea {
  display: block;
  appearance: none;
  width: 30rem;
  height: 10rem;
  border: 1px solid var(--primary-color);
  border-radius: 2px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0 0.25rem;
  margin: 0.75rem 0;
}

.label {
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 0.85rem;
  font-weight: 600;
  width: 12rem;
  color: var(--primary-color);
  margin: 0.75rem 0;
}

.label input[type='number'] {
  width: 6rem;
}
