.aside {
  width: 20rem;
  height: 100vh;
  border-right: 1px solid var(--semi-color);
  color: var(--dark-color);
  font-size: 0.85rem;
  padding: 0 1rem;
  user-select: none;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1rem;
  margin: 0 2rem 3rem;
  padding: 2rem 0 1rem;

  color: var(--primary-color);

  border-bottom: 1px solid var(--semi-color);
}

.title {
  font-weight: 500;
  font-size: 2rem;
}

.small {
  font-weight: 600;
  font-size: 0.75rem;
  letter-spacing: 0.09rem;
  color: var(--third-color);
}

.panelIcon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.25rem;
  filter: invert(67%) sepia(50%) saturate(4177%) hue-rotate(187deg)
    brightness(91%) contrast(88%);
}

.category {
  margin: 2.55rem 2.5rem 1rem;
}

.catefory:first-child {
  margin: 1rem 2.5rem;
}

.link {
  display: flex;
  align-items: center;
  padding: 1rem 2.5rem;
  width: 100%;
  font-weight: 500;
  font-size: 1rem;
  user-select: none;
}

.link:hover {
  background-color: var(--glass);
  border-radius: 12px;
}

.linkBox {
  display: flex;
  align-items: center;
  padding: 1rem 2.5rem;
  width: 100%;
  font-weight: 500;
  font-size: 1rem;
  filter: invert(66%) sepia(60%) saturate(3694%) hue-rotate(187deg)
    brightness(92%) contrast(87%);
  user-select: none;
  position: relative;
}

.linkBox::before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  right: 0;
  width: 0.5rem;
  border-radius: var(--radius-dash) 0 0 var(--radius-dash);
  background-color: var(--primary-color);
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
  filter: invert(38%) sepia(41%) saturate(254%) hue-rotate(148deg)
    brightness(95%) contrast(92%);
}
