.table {
  width: 100%;
  margin: 1rem 0;
  font-size: 1rem;
  color: black;
  font-weight: 500;
  border-collapse: collapse;
}

.thead {
  border-bottom: 1px solid var(--semi-color);
  color: var(--dark-color);
  font-size: 0.85rem;
}

.thead td,
.product td {
  padding: 0.75rem 0.25rem 0.75rem 0;
}

.thead td:nth-child(1) {
  width: 20%;
}
.thead td:nth-child(2) {
  width: 35%;
}
.thead td:nth-child(3) {
  width: 15%;
}
.thead td:nth-child(4) {
  width: 15%;
}
.thead td:nth-child(5) {
  width: 15%;
}

.product {
  cursor: pointer;
}

.product td:first-child {
  font-size: 0.75rem;
  font-weight: 600;
}
