@media screen and(max-width: 690px) {
  .id {
    display: none !important;
  }
}

.table {
  width: 100%;
  margin: 0.5rem 0;
  font-weight: 500;
}

.row {
  display: flex;
  border-bottom: 1px solid var(--semi-color);
  color: var(--dark-color);
  font-size: 0.75rem;
  padding: 1rem 0;
}
.row div,
.product div {
  padding: 0.75rem 0.25rem 0.75rem 0;
  font-weight: 500;
}

.id {
  min-width: 7.5rem;
}

.name {
  min-width: 10rem;
  width: 40%;
}
.color {
  min-width: 10rem;
  width: 25%;
}

.sales {
  min-width: 5.5rem;
}

.option {
  min-width: 5.5rem;
}

.product {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.product:hover {
  background-color: var(--glass);
}

.product .id {
  font-size: 0.75rem;
}
