.wrapper {
    width: 100%;
    padding: 1rem 0;
}

.productBox {
    display: flex;
    justify-content: space-between;
}

.linkBox {
    margin: 1rem 0.5rem;
    box-shadow: var(--shadow-small);
    border-radius: var(--radius-dash);
    transition: all 0.3s;
}

.img {
    object-fit: cover;
}

.linkBox:hover {
    box-shadow: var(--shadow);
}