.intro {
    border-top: 1px solid var(--semi-color);
    border-bottom: 1px solid var(--semi-color);
}

.box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 1rem;
}

.imageBox {
    width: 50%;
}

.image {
    width: 100%;
    height: auto;
}

.text {
    width: 50%;
    padding-left: 1rem;
    color: var(--dark-color);
}

.text h3 {
    color: var(--dropdown-text-a);
    margin: 1rem 0;
}

@media screen and (max-width: 720px) {
    .imageBox {
        width: 100%;
    }

    .text {
        width: 100%;
        padding-left: 0;
    }
}