.category {
    composes: container from global;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.article {
    max-width: 20rem;
    height: 20rem;
    margin: 1rem;
    border: 1px solid var(--semi-color);
    border-radius: var(--radius-small);
    transition: box-shadow 0.4s;
}

.article:hover {
    box-shadow: var(--shadow);
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
}

.description {
    height: 30%;
    background-color: var(--product);
    padding: 1rem;
    border-radius: var(--radius-small);
    font-weight: 400;
    font-size: 0.9rem;
}

.price {
    margin-top: 1rem;
    font-weight: 500;
}