.product {
    composes: container from global;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
    position: relative;
}

.box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.details {
    padding: 1rem 0;
    border-top: 1px solid var(--semi-color);
}

.details:last-child {
    border-bottom: 1px solid var(--semi-color);
}

.details>summary {
    list-style-type: none;
    position: relative;
    cursor: pointer;
}

.details>summary::-webkit-details-marker {
    display: none;
}

.details>summary::after {
    position: absolute;
    content: '+';
    right: 1rem;
}

.details[open]>summary::after {
    position: absolute;
    content: '-';
    right: 1rem;
}

.details[open]>summary::before {
    display: none;
}

.details>p {
    margin: 1rem 0;
}

.basket {
    width: 40%;
}

.imageBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    height: auto;
}

.figcaption {
    width: 32.5rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.image {
    max-width: 100%;
    width: 100%;
    height: auto;
    transform: scale(1);
    display: block;
    transition: all 0.4s ease-in;
}

.image:hover {
    transform: scale(1.3);
}

.arrowL,
.arrowR {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    content: '';
    width: 15%;
    z-index: 1;

    transition: all 0.4s;
}

.arrowL {
    left: 0;
}

.arrowR {
    right: 0;
}

.dots {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 2rem;
    background-color: var(--top);
    border-radius: var(--radius-small);
}

.dot {
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    margin: 0.5rem;
    background-color: var(--box-color);
    border-radius: 50%;
    position: relative;
}

.dot::before {
    position: absolute;
    content: '';
    top: 0.25rem;
    left: 0.25rem;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--footer);
}

.colordot {
    composes: dot;
    background-color: var(--third-color);

}

.colordot::before {
    position: absolute;
    content: '';
    top: 0.25rem;
    left: 0.25rem;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--dropdown-title);
}

.article {
    width: 100%;
    border-top: 1px solid var(--semi-color);
}

.article h2 {
    margin: 1rem 0 2rem;
}

.article h3 {
    font-size: 0.85rem;
    font-weight: 600;
    margin: 1rem 0 1rem;
}

.article p {
    font-size: 1rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 1265px) {
    .product {
        padding: 1rem;
    }
}

@media screen and (max-width: 700px) {
    .basket {
        width: 100%;
    }

    .imageBox,
    .figcaption {
        width: 100%;
    }
}