.summary {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-left: 2rem;
    width: calc(30% - 2rem);
}

.summary h2 {
    font-weight: 500;
    margin-bottom: 1rem;
}

.summary div,
.summary strong {
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 0;
}