.intro {
  display: flex;
  align-items: center;
  height: 82vh;

  border: 1px solid red;
}

.container {
  composes: container from global;
}

.box {
  width: 15rem;
  height: 20rem;
  text-align: center;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  border: 1px solid var(--semi-color);

  background-image: url("../../public//keyboard.webp");
  background-repeat: no-repeat;
  background-size: cover;

  color: var(--primary-color);
}

.title {
  padding: 0.5rem 0;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--semi-color);
}

.p {
  background-color: #00000028;
  font-weight: 500;
  padding: 0.25rem 0;
  border-radius: 8px;
}

.main {
  composes: container from global;
  display: flex;
  justify-content: space-between;
}

.img {
  object-fit: cover;
  transition: transform 0.3s;
}

.img:hover {
  transform: scale(0.96);
}
