.intro {
  composes: container from global;
}

.introImage {
  object-fit: cover;
  width: 100%;
  height: 80vh;
}

.main {
  composes: container from global;
  display: flex;
  justify-content: space-between;
}

.img {
  object-fit: cover;
  transition: transform 0.3s;
}

.img:hover {
  transform: scale(0.96);
}
