.confirm {
  cursor: default;
  position: absolute;
  top: -3rem;
  left: -30rem;
  display: inline-block;
  background-color: var(--dropdown-body);
  color: var(--background-color);
  border-radius: var(--radius-dash);
}

.confirm p {
  padding: 0 1rem 1rem;
}

.id,
.name {
  padding: 1rem;
}

.id {
  color: var(--dropdown-text-a);
  text-transform: capitalize;
  font-size: 0.85rem;
}
.name {
  color: var(--dropdown-text-b);
  text-transform: capitalize;
}

.box {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 1rem 0 0;
}
