.basic-link,
.link {
  display: flex;
  align-items: center;
  padding: 1rem 2.5rem;
  width: 100%;
  font-weight: 500;
  font-size: 1rem;
  user-select: none;
}

.link:hover {
  background-color: var(--glass);
  border-radius: 12px;
}

.linkBox {
  composes: basic-link;
  filter: invert(56%) sepia(51%) saturate(652%) hue-rotate(176deg)
    brightness(89%) contrast(92%);
  position: relative;
}

.linkBox::before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  right: 0;
  width: 0.5rem;
  border-radius: var(--radius-dash) 0 0 var(--radius-dash);
  background-color: var(--primary-color);
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
  filter: invert(38%) sepia(41%) saturate(254%) hue-rotate(148deg)
    brightness(95%) contrast(92%);
}

@media screen and (max-width: 250px) {
  .basic-link,
  .link {
    padding: 1rem 1rem;
  }
}
