.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.table {
    width: 100%;
    font-weight: 500;
}

.row {
    display: flex;
    border-bottom: 1px solid var(--semi-color);
    color: var(--dark-color);
    font-size: 0.85rem;
}

.row div,
.product div {
    display: inline-block;
    padding: 1rem 0.5rem 1rem 0;
}

.id {
    min-width: 7.75rem;
    width: 15%;
}

.name {
    min-width: 8rem;
    width: 40%;
}

.price {
    min-width: 5.5rem;
    width: 20%;
}

.color {
    min-width: 6rem;
    width: 20%;
}

.sales {
    min-width: 6rem;
}

.option {
    width: 1rem;
}

.product {
    display: flex;
    align-items: center;
    transition: background-color 0.2s;
}

.position {
    composes: product;
    position: relative;
}

.product:nth-child(2n + 1) {
    background-color: var(--light-green);
}

.product .id {
    font-size: 0.8rem;
    font-weight: 400;
}

.product .name {
    color: var(--third-color);
    font-weight: 500;
    font-family: Georgia, serif
}

.product .price {
    text-align: left;
    color: var(--third-color);
    font-size: 0.9rem;
    position: relative;
    user-select: none;
}

.product .color {
    color: var(--third-color);
    font-size: 0.9rem;
    font-weight: 400;
}

.product .sales {
    color: var(--dark-color);
    font-size: 0.85rem;
}

.product .option span:active {
    transform: scale(1.1);
}

.product .option {
    cursor: pointer;
}

.product .option span {
    display: block;
    margin: 0 5px;
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 50%;
    background-color: var(--third-color);
}

.product .option:hover {
    background-color: var(--light-green);
    border-radius: 15px;
}

.product .option span:first-child {
    margin-bottom: 0.25rem;
}

@media screen and (max-width: 870px) {

    .row .id,
    .row .sales,
    .product .id,
    .product .sales {
        display: none;
    }

    .row .name,
    .product .name {
        width: 50%;
    }

    .row .color,
    .product .color {
        width: 25%;
    }

    .row .price,
    .product .price {
        width: 20%;
    }
}

@media screen and (max-width: 500px) {

    .row .name,
    .product .name {
        width: 65%;
    }

    .row .color,
    .product .color {
        display: none;
    }

    .row .price,
    .product .price {
        width: 30%;
    }
}