.table {
  width: 100%;
  margin: 0.5rem 0;
  font-weight: 600;
}

.row {
  display: flex;
  border-bottom: 1px solid var(--semi-color);
  color: var(--dark-color);
  font-size: 0.75rem;
  padding: 1rem 0;
}
.row div,
.product div {
  display: inline-block;
  padding: 1rem 0.5rem 1rem 0;
}

.id {
  min-width: 7rem;
}

.name {
  min-width: 8rem;
  width: 35%;
}

.price {
  min-width: 5.5rem;
  width: 20%;
}

.color {
  min-width: 6rem;
  width: 20%;
}

.sales {
  min-width: 6rem;
}

.option {
  min-width: 1rem;
}

.product {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.product:hover {
  background-color: var(--glass);
  border-radius: var(--radius-dash);
  color: var(--primary-color);
}

.product .id {
  font-size: 0.75rem;
  font-weight: 500;
}

.product .price {
  text-align: left;
  color: var(--third-color);
  font-size: 0.9rem;
}

.product .color {
  color: var(--third-color);
  font-size: 0.85rem;
  font-weight: 400;
}

.product .sales {
  color: var(--dark-color);
  font-size: 0.85rem;
}

@media screen and (max-width: 870px) {
  .row .id,
  .row .sales,
  .product .id,
  .product .sales {
    display: none;
  }

  .row .name,
  .product .name {
    width: 50%;
  }
  .row .color,
  .product .color {
    width: 25%;
  }
  .row .price,
  .product .price {
    width: 20%;
  }
}

@media screen and (max-width: 500px) {
  .row .color,
  .product .color {
    display: none;
  }
}
