.standard {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    background-color: var(--top);
    border: 2px solid var(--top);
    border-radius: var(--radius-small);

    color: var(--background-color);
    padding: 0.75rem;
    margin: 0.5rem 0;
    transition: all 0.4s;
}

.standardWhite {
    composes: standard;
    background-color: var(--background-color);
    color: var(--box-color);
}

.standard:hover {
    background-color: var(--accent-color);
    color: var(--dropdown-title);
}

.plus,
.minus {
    display: inline-block;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border: 1px solid var(--accent-color);
    border-radius: var(--radius-small);
    margin: 0 0.25rem;
    transition: all 0.4s;
    position: relative;
}

.plus::after,
.minus::before {
    position: absolute;
    content: "";
    top: calc(50% - 0.08rem);
    left: 0.5rem;
    right: 0.5rem;
    height: 0.15rem;
    background-color: var(--top);
}

.plus:hover::after,
.plus:hover::before,
.minus:hover::before {
    background-color: var(--green);
}

.plus::before {
    position: absolute;
    content: "";
    top: 0.5rem;
    bottom: 0.5rem;
    left: calc(50% - 0.08rem);
    width: 0.15rem;
    background-color: var(--top);
}

.variant {
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    color: var(--background-color);

    background-color: var(--top);
    border-radius: var(--radius-dash);
    border: 2px solid transparent;

    padding: 0.75rem 2rem;
    margin-right: 0.5rem;
    transition: all 0.3s;
}

.variant:hover {
    border: 2px solid var(--top);
    background-color: var(--background-color);
    color: var(--top);
}

@media screen and (max-width: 300px) {
    .variant {
        font-size: 0.85rem;
        padding: 0.5rem 1rem;
        width: 100%;
        margin: 0.5rem;
    }
}