.header {
    color: var(--dark-color);
    font-weight: 500;
    margin-bottom: 2rem;
}

.top {
    padding: 0.5rem 0;
    background-color: var(--top);
    margin-right: -5px;
    box-shadow: var(--shadow);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.container {
    composes: container from global;
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
}

.logo {
    margin-top: 3rem;
    text-align: center;
    padding: 2.25rem 0;
}

.delivery {
    color: var(--accent-text);
    transition: color 0.2s;
}

.delivery:hover {
    color: var(--accent-color);
}

.img {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    height: 1.25rem;
    transition: all 0.2s;
}

.img:hover {
    transform: scale(1.1);
    background-color: rgb(24, 67, 107);
    box-shadow: 1px 1px 5px 4px rgb(24, 67, 107);
}

.user {
    background-image: url("../../../public/icons/user.svg");
    composes: img;
    margin: 0 1.5rem;
    width: 1rem;
}

.basketBox {
    position: relative;
    padding-right: 0.5rem;
}

.basket {
    background-image: url("../../../public/icons/cart-shopping.svg");
    composes: img;
    width: 1.25rem;
}

.basketQuantityOff {
    position: absolute;
    right: 0;
    bottom: -0.5rem;
    color: var(--accent-color);
    font-size: 0.7rem;
}

.basketQuantityOn {
    composes: basketQuantityOff;
    background-color: var(--dark-color);
    padding: 0 0.25rem;
    border-radius: var(--radius-dash)
}

@media screen and (max-width: 1266px) {
    .top {
        padding: 0.5rem 0.75rem;
    }
}

@media screen and (max-width: 320px) {

    .header,
    .delivery {
        font-size: 0.75rem;
    }
}