.aside {
  width: 15.25rem;
  height: 90vh;
  border: 1px solid var(--semi-color);
  border-radius: var(--radius-dash) 0 0 var(--radius-dash);
  background-color: var(--primary-color);

  color: var(--background-color);
}

.box {
  text-align: center;
  padding: 1.5rem 0;
  border-bottom: 1px solid var(--background-color);
  line-height: 0.65rem;
}

.title {
  font-weight: 500;
  font-size: 1.75rem;
}

.small {
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
}

.link {
  display: flex;
  align-items: center;
  padding: 1.25rem 2rem;
  width: 100%;
  position: relative;
}

/* .line::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0.25rem;
  bottom: 0.25rem;
  width: 0.25rem;
  background-color: var(--background-color);
} */

.link:hover {
  background-color: var(--glass);
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
  filter: invert(100%) sepia(1%) saturate(0%) hue-rotate(138deg)
    brightness(102%) contrast(106%);
}
