.top {
  border: 3px solid var(--box-color);
  background-color: var(--box-color);
  border-radius: 0 var(--radius-dash) 0 0;
  width: 100%;
  height: 5rem;
  padding: 0.5rem;
}

.body {
  height: calc(90vh - 5rem);
  border: 3px solid var(--box-color);
  border-radius: 0 0 var(--radius-dash) 0;

  padding: 0.5rem;
}
