.general {
  composes: container from global;
  margin: 2rem auto;
  display: flex;
}

.main {
  composes: container from global;
  padding: 0.5rem;
  width: 80%;
  height: 90vh;

  border-radius: 0 var(--radius-dash) var(--radius-dash) 0;
  background-color: var(--box-color);
}


