.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login h2 {
    margin-bottom: 2rem;
}

.form {
    width: 15rem;
}


.form label,
.input {
    width: 100%;
    text-align: left;
}

.input {
    padding-left: 0.5rem;
}

.pass input {
    margin: 0;
}

.pass {
    position: relative;
    margin-bottom: 1rem;
}

.visibility {
    cursor: pointer;
    position: absolute;
    width: 1rem;
    top: -0.5rem;
    right: 0.5rem;
}

.btn {
    display: grid;
}

@media screen and (max-width: 260px) {
    .form {
        width: calc(100% - 2rem);
    }
}