.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 15rem;
}


.form label,
.input {
    width: 100%;
}

.btn {
    display: grid;
}

@media screen and (max-width: 260px) {
    .form {
        width: calc(100% - 2rem);
    }
}