.title {
    display: block;
    background-color: var(--third-color);
    color: var(--dropdown-body);
    padding: 0.5rem;
    border-radius: var(--radius-small);
    margin: 1rem 0;
}

.title p {
    padding: 0.35rem;
    border: 1px solid var(--background-color);
    border-radius: var(--radius-small);
}