.form {
    width: 30rem;
    border-top: 1px solid var(--primary-color);
    padding: 2rem 4rem;
    margin: 2rem 0;
    position: relative;
}

.form::after {
    position: absolute;
    content: 'lub';
    top: -0.75rem;
    left: calc(50% - 1rem);
    background-color: var(--background-color);
    padding: 0 0.5rem;
    color: var(--semi-color);
}

.form label,
.input {
    width: 100%;
    height: 2.5rem;
    text-align: left;
}

.input {
    padding-left: 0.5rem;
}

.pass input {
    margin: 0;
}

.pass {
    position: relative;
    margin-bottom: 1rem;
}

.visibility {
    cursor: pointer;
    position: absolute;
    width: 1rem;
    top: -0.25rem;
    right: 0.5rem;
}

.btn {
    display: grid;
}

@media screen and (max-width: 400px) {
    .form {
        width: 100%;
        padding: 2rem 0;
        margin: 1rem 0;
    }
}