.main {
    width: 80%;
    padding-left: 2.5rem;
    padding-right: 1rem;
}

.bar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 5.5rem;
    border-bottom: 1px solid var(--semi-color);
}

.streach {
    composes: bar;
    justify-content: space-between;
    height: min-content;
}

.body {
    padding: 1.5rem 0;
}

@media screen and (max-width: 800px) {
    .main {
        width: 100%;
        padding-left: 1.5rem;
        padding-right: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .main {
        padding: 0 1rem;
    }
}