.h1 {
    text-align: center;
    color: var(--dark-color);
    font-weight: 400;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    padding: 2rem 0;
}

.form input {
    height: 2.5rem;
    text-align: left;
    padding: 0 0.5rem;
    margin: 0.5rem 0;
}

.name {
    display: inline;
    width: 13rem;
}

.name:first-child {
    margin-right: 1rem;
}

.email {
    width: 27rem;
}

.form textarea {
    width: 27rem;
    height: 10rem;
    padding: 0.5rem;
    border: 1px solid var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.btn {
    width: 27rem;
    display: grid;
}

.wrapper {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.box {
    max-width: 27rem;
    padding: 2rem;
    background-color: var(--top);
    border-radius: var(--radius-dash);
    box-shadow: var(--shadow);
    color: var(--accent-color);
}

.box section {
    display: grid;
}

@media screen and (max-width: 470px) {

    .form input,
    .form textarea,
    .btn {
        width: 100%;
    }
}