:root {
    --primary-color: #89b0ae;
    --accent-color: #9ad39d;

    --top: #89b0ae;
    --third-color: #ffd6ba;
    --footer: #cfdbd5;
    --footer-text: #95B1AE;

    --box-color: #357a8f;
    --background-color: rgb(245, 245, 245);

    --dark-color: #4b4a54;
    --semi-color: #a8b1bb71;

    --dropdown-title: #37406c;
    --dropdown-body: #262f5a;
    --dropdown-text-a: #82b7fd;
    --dropdown-text-b: #1ed6d8;

    --accent-text-color: #e4436b;
    --glass: #5194dc28;

    --product: #faf9f9;
    --product-t: #f8f3e8;

    --light-green: rgb(237, 247, 248);

    --shadow: 0px 0px 11px -3px rgba(53, 122, 143, 1);

    --radius-small: 4px;
    --radius-dash: 0.5rem;

    --green: rgb(29, 161, 29);
    --red: rgb(224, 0, 0);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: visible;
    scroll-behavior: smooth;
    background-color: var(--background-color);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input,
select {
    display: block;
    -moz-appearance: textfield;
    appearance: textfield;
    width: 3.5rem;
    height: 2rem;
    border: 1px solid var(--primary-color);
    border-radius: 2px;

    font-size: 1rem;
    margin-right: 0.25rem;
    margin-bottom: 0.75rem;
    text-align: center;
}

input[type="file"] {
    display: none;
}

input:focus,
select:focus,
textarea:focus {
    outline: rgb(29, 161, 29);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Times, serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 1266px;
    margin: 0 auto;
    padding: 0 1rem;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--box-color);
}