.box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 20rem;
    border: 3px solid black;
}

.box h1 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.form {
    display: flex;
    flex-wrap: wrap;
    height: 2.1rem;
    margin: 0.5rem 0;
}

.id {
    margin: 2rem 0 0;
    font-weight: 400;
    color: var(--dark-color);
}

.price {
    font-size: 1.25rem;
    font-weight: 500;
}

.small {
    font-size: 0.75rem;
    color: var(--dark-color);
    margin-left: 0.5rem;
}

@media screen and (max-width: 860px) {
    .box {
        width: 100%;
    }

    .box h1 {
        font-size: 1.75rem;
    }
}